@media only screen and (max-width: 1200px) {
  .mkdf-container-inner,
  .mkdf-grid,
  .mkdf-row-grid-section {
    width: 950px;
  }
}
@media only screen and (max-width: 1024px) {
  body:not(.mkdf-content-is-behind-header):not(.error404) .mkdf-content {
    margin-top: 0 !important;
  }
  .mkdf-hide-on-tablet {
    display: none !important;
  }
  .mkdf-container-inner,
  .mkdf-grid,
  .mkdf-row-grid-section {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-container-inner,
  .mkdf-grid,
  .mkdf-row-grid-section {
    width: 600px;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-hide-on-mobile {
    display: none !important;
  }
  .mkdf-container-inner,
  .mkdf-grid,
  .mkdf-row-grid-section {
    width: 420px;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-container-inner,
  .mkdf-grid,
  .mkdf-row-grid-section {
    width: 300px;
  }
}
@media only screen and (max-width: 320px) {
  .mkdf-container-inner,
  .mkdf-grid,
  .mkdf-row-grid-section {
    width: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 818px;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 650px;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 470px;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 350px;
  }
}
@media only screen and (max-width: 320px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 92%;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  .mkdf-grid-1400.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,
  .mkdf-grid-1400.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 1180px;
  }
}
@media only screen and (max-width: 1440px) {
  h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1440px) {
  h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 27px;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 23px;
  }
  .mkdf-self-hosted-video-holder .mkdf-video-wrap .mejs-overlay-button {
    height: 76px;
    width: 76px;
    line-height: 78px;
    margin: -38px 0 0 -38px;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-blog-holder.mkdf-blog-centered {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-blog-centered {
    width: 100%;
  }
  .mkdf-blog-holder.mkdf-blog-centered article .mkdf-post-info-bottom {
    margin-top: 0;
    padding: 0;
  }
  .mkdf-blog-holder.mkdf-blog-centered article .mkdf-info-bottom-item {
    display: block;
    width: 100%;
    margin: 20px 0;
    text-align: center !important;
  }
}
@media only screen and (max-width: 1440px) {
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 15px;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article {
    width: 25%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width-height {
    width: 50%;
  }
}
@media only screen and (max-width: 1280px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article {
    width: 33.33333%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    article.mkdf-post-size-large-width-height {
    width: 66.66667%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article {
    width: 33.33333%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width-height {
    width: 66.66667%;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article {
    width: 50%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns
    article.mkdf-post-size-large-width-height {
    width: 100%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article {
    width: 50%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    article.mkdf-post-size-large-width-height {
    width: 100%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article {
    width: 50%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width-height {
    width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns
    article.mkdf-post-size-large-width-height,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns
    article.mkdf-post-size-large-width-height,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns
    article.mkdf-post-size-large-width-height,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns
    .mkdf-blog-masonry-grid-sizer,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns
    article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns
    article.mkdf-post-size-large-width-height {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-blog-holder.mkdf-blog-narrow .mkdf-pagination,
  .mkdf-blog-holder.mkdf-blog-narrow article {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-blog-narrow .mkdf-pagination,
  .mkdf-blog-holder.mkdf-blog-narrow article {
    width: 90%;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-blog-holder.mkdf-blog-narrow .mkdf-pagination,
  .mkdf-blog-holder.mkdf-blog-narrow article {
    width: 100%;
  }
  .mkdf-blog-holder.mkdf-blog-narrow article .mkdf-post-excerpt {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-blog-holder.mkdf-blog-split-column
    article
    .mkdf-post-content
    .mkdf-post-heading,
  .mkdf-blog-holder.mkdf-blog-split-column
    article
    .mkdf-post-content
    .mkdf-post-text,
  .mkdf-blog-holder.mkdf-blog-split-column
    article.format-audio.mkdf-post-no-media.has-post-thumbnail
    .mkdf-post-text {
    display: block;
    width: 100%;
  }
  .mkdf-blog-holder.mkdf-blog-split-column
    article
    .mkdf-post-content
    .mkdf-post-text-inner,
  .mkdf-blog-holder.mkdf-blog-split-column
    article.format-audio.mkdf-post-no-media.has-post-thumbnail
    .mkdf-post-text
    .mkdf-post-text-inner {
    padding-left: 0;
  }
  .mkdf-blog-holder.mkdf-blog-split-column
    article.mkdf-post-has-media
    .mkdf-post-heading {
    margin-bottom: 30px;
  }
  .mkdf-blog-holder.mkdf-blog-split-column
    article.format-audio.mkdf-post-no-media.has-post-thumbnail
    .mkdf-post-heading {
    display: block;
    margin-bottom: 30px;
  }
  .mkdf-blog-holder.mkdf-blog-split-column
    article.format-audio.mkdf-post-has-media:not(.has-post-thumbnail)
    .mkdf-post-heading {
    min-height: 38px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 50% !important;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1440px) {
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item {
    width: 25%;
  }
  .mkdf-header-standard-extended
    .mkdf-page-header
    .mkdf-logo-area
    .mkdf-position-right {
    max-width: 60%;
  }
  .mkdf-header-standard-extended
    .mkdf-page-header
    .mkdf-logo-area
    .mkdf-position-right
    .mkdf-position-right-inner {
    max-width: calc(100% - 1px);
  }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns
    .mkdf-bl-item:nth-child(3n + 1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns
    .mkdf-bl-item:nth-child(3n + 1),
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns
    .mkdf-bl-item:nth-child(3n + 1),
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns
    .mkdf-bl-item:nth-child(3n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1280px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item {
    width: 33.33333%;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item {
    width: 50%;
  }
  .mkdf-blog-slider-holder
    .active
    .mkdf-blog-slider-item
    .mkdf-item-image:after,
  .mkdf-blog-slider-holder
    .active
    .mkdf-blog-slider-item
    .mkdf-item-text-wrapper {
    opacity: 1;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bl-item {
    width: 100% !important;
  }
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns
    .mkdf-bl-grid-sizer,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-item {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-blog-single
    article
    .mkdf-post-info-bottom
    .mkdf-post-info-bottom-left,
  .mkdf-blog-holder.mkdf-blog-single
    article
    .mkdf-post-info-bottom
    .mkdf-post-info-bottom-right {
    width: 100%;
    float: none;
  }
  .mkdf-blog-holder.mkdf-blog-single
    article
    .mkdf-post-info-bottom
    .mkdf-post-info-bottom-right {
    text-align: inherit;
    margin: 10px 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-blog-holder.mkdf-blog-single
    .mkdf-blog-single-navigation
    .mkdf-blog-single-next,
  .mkdf-blog-holder.mkdf-blog-single
    .mkdf-blog-single-navigation
    .mkdf-blog-single-prev {
    padding: 9px 16px 7px;
  }
  .mkdf-blog-holder.mkdf-blog-single
    .mkdf-blog-single-navigation
    .mkdf-blog-single-next
    .mkdf-blog-single-nav-mark,
  .mkdf-blog-holder.mkdf-blog-single
    .mkdf-blog-single-navigation
    .mkdf-blog-single-prev
    .mkdf-blog-single-nav-mark {
    margin: 0;
  }
  .mkdf-blog-holder.mkdf-blog-single
    .mkdf-blog-single-navigation
    .mkdf-blog-single-nav-label {
    display: none;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns
    .mkdf-bl-item:nth-child(2n + 1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns
    .mkdf-bl-item:nth-child(2n + 1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns
    .mkdf-bl-item:nth-child(2n + 1),
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns
    .mkdf-bl-item:nth-child(2n + 1),
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns
    .mkdf-bl-item:nth-child(2n + 1),
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns
    .mkdf-bl-item:nth-child(2n + 1) {
    clear: both;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3 {
    width: 50%;
    float: left;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(2n + 1) {
    clear: both;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(3),
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(4) {
    margin-top: 30px;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 {
    width: 33.33333333333333%;
    float: left;
  }
  .mkdf-team-list-holder.mkdf-tl-three-columns .mkdf-team:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1280px) {
  .mkdf-page-header .mkdf-vertical-align-containers {
    padding: 0 40px;
  }
  .mkdf-paspartu-enabled .mkdf-page-header .mkdf-vertical-align-containers {
    padding: 0;
  }
  .mkdf-drop-down .second .inner ul li a,
  .mkdf-drop-down > ul > li > a {
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-page-header {
    display: none;
  }
  .mkdf-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
  .mkdf-mobile-header {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-fixed-wrapper.fixed {
    width: 1000px;
  }
}
@media only screen and (max-width: 1300px) {
  .mkdf-header-standard .mkdf-menu-area {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-mobile-header .mkdf-mobile-side-area {
    width: 100%;
  }
}
@media only screen and (max-height: 600px) {
  .mkdf-mobile-header .mkdf-mobile-side-area {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-sticky-header {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header
    .mobile-header-appear
    .mkdf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
  .mkdf-top-bar {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header
    .mobile-header-appear
    .mkdf-mobile-header-inner {
    width: 650px;
  }
  .mkdf-fullscreen-search-holder .mkdf-search-submit {
    font-size: 25px;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-page-footer .mkdf-column-content:not(:first-child) {
    margin-top: 30px;
  }
  .mkdf-boxed.mkdf-sticky-up-mobile-header
    .mobile-header-appear
    .mkdf-mobile-header-inner {
    width: 470px;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header
    .mobile-header-appear
    .mkdf-mobile-header-inner {
    width: 350px;
  }
}
@media only screen and (max-width: 320px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header
    .mobile-header-appear
    .mkdf-mobile-header-inner {
    width: 92%;
  }
}
@media only screen and (max-width: 1280px) {
  .mkdf-top-bar-in-grid-padding
    .mkdf-top-bar
    .mkdf-grid
    .mkdf-vertical-align-containers,
  .mkdf-top-bar > .mkdf-vertical-align-containers {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-search-page-holder article .mkdf-post-image {
    width: 80px;
  }
  .mkdf-search-page-holder article .mkdf-post-title-area {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-search-page-holder article .mkdf-post-image {
    width: 60px;
  }
  .mkdf-search-page-holder article .mkdf-post-title-area {
    padding: 0 0 0 80px;
    min-height: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-fullscreen-search-holder .mkdf-form-holder-inner {
    width: 75%;
  }
  .mkdf-title-holder.mkdf-has-bg-image {
    height: auto !important;
    padding: 0 !important;
    background-image: none !important;
  }
  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-image {
    display: block;
  }
  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-fullscreen-search-holder .mkdf-form-holder-inner {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
    padding: 0 !important;
  }
  .mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info,
  .mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-title-info {
    display: block;
    width: 100%;
  }
  .mkdf-title-holder.mkdf-standard-with-breadcrumbs-type
    .mkdf-breadcrumbs-info {
    margin: 10px 0 0;
    text-align: initial;
    white-space: inherit;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team,
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team {
    width: 33.33333%;
  }
  .mkdf-btn.mkdf-btn-huge,
  .mkdf-btn.mkdf-btn-large {
    padding: 10px 39px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team:nth-child(3n + 1),
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team:nth-child(3n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team:nth-child(2n + 1),
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team,
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team,
  .mkdf-team-list-holder.mkdf-tl-three-columns .mkdf-team {
    width: 50%;
  }
  .mkdf-team.info-bellow .mkdf-team-image {
    width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-team-list-holder .mkdf-tl-inner .mkdf-team {
    width: 100%;
  }
  .mkdf-team-slider-holder .mkdf-owl-slider .owl-nav .owl-prev {
    left: 0;
  }
  .mkdf-team-slider-holder .mkdf-owl-slider .owl-nav .owl-next {
    right: 0;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .mkdf-call-to-action-holder .mkdf-grid {
    width: 1100px;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns
    .mkdf-cta-text-holder {
    width: 66.66666666666667%;
  }
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns
    .mkdf-cta-button-holder {
    width: 33.33333333333333%;
  }
  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-team.info-hover {
    margin-bottom: 30px;
  }
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-inner,
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-text-holder {
    display: block;
  }
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns
    .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-text-holder {
    width: 100%;
  }
  .mkdf-countdown .countdown-row.countdown-show4 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show5 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show6 .countdown-section {
    width: 33.33333333333333%;
  }
  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1280px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-five-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-four-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-six-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-three-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-two-columns
    .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-left
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-right
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-center
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-five-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-four-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-six-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-three-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-two-columns
    .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-left
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-right
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-center
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-five-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-four-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-six-columns .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-three-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-two-columns
    .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-left
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-right
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-center
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: center;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 40px;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-five-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-four-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-six-columns .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-three-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-two-columns
    .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-left
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-right
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-center
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-five-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-four-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-six-columns .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-three-columns
    .mkdf-eh-item,
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-two-columns
    .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-left
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-right
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-center
    .mkdf-eh-item
    .mkdf-eh-item-content {
    text-align: center;
  }
  .mkdf-elements-holder .mkdf-eh-item-content {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-six-columns
    .mkdf-ig-image:nth-child(6n + 1) {
    clear: none;
  }
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-six-columns
    .mkdf-ig-image:nth-child(5n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1440px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image {
    width: 20%;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-five-columns
    .mkdf-ig-image:nth-child(4n + 1),
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-six-columns
    .mkdf-ig-image:nth-child(4n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1280px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image {
    width: 25%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-five-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 50%;
  }
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image {
    width: 25%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-six-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-five-columns
    .mkdf-ig-image:nth-child(3n + 1),
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-six-columns
    .mkdf-ig-image:nth-child(3n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-four-columns
    .mkdf-ig-image:nth-child(4n + 1),
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-three-columns
    .mkdf-ig-image:nth-child(3n + 1),
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-two-columns
    .mkdf-ig-image:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-google-map-overlay {
    display: block;
  }
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 33.33333%;
  }
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-four-columns .mkdf-ig-image {
    width: 50%;
  }
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image {
    width: 33.33333%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-five-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 66.66667%;
  }
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image {
    width: 33.33333%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-six-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 66.66667%;
  }
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-image {
    width: 50%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-four-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
  .mkdf-section-title-holder.mkdf-st-two-columns {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-five-columns
    .mkdf-ig-image:nth-child(2n + 1),
  .mkdf-image-gallery
    .mkdf-ig-grid.mkdf-ig-six-columns
    .mkdf-ig-image:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 50%;
  }
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-three-columns .mkdf-ig-image {
    width: 100%;
  }
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image {
    width: 50%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-five-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image {
    width: 50%;
  }
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-six-columns
    .mkdf-ig-image.mkdf-large-masonry-item,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-three-columns
    .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-image,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-three-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
  .mkdf-section-title-holder {
    padding: 0 !important;
  }
  .mkdf-section-title-holder.mkdf-st-two-columns .mkdf-st-text,
  .mkdf-section-title-holder.mkdf-st-two-columns .mkdf-st-title {
    width: 100%;
    float: none !important;
    text-align: initial !important;
  }
  .mkdf-section-title-holder.mkdf-st-two-columns .mkdf-st-text {
    margin: 14px 0 0;
  }
  .mkdf-section-title-holder.mkdf-st-disable-title-break .mkdf-st-title br {
    display: none;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-four-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-three-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-two-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-five-columns
    .mkdf-ig-image.mkdf-large-masonry-item,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-image,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-four-columns
    .mkdf-ig-image.mkdf-large-masonry-item,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-six-columns
    .mkdf-ig-image.mkdf-large-masonry-item,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-three-columns
    .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-image,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-three-columns
    .mkdf-ig-image.mkdf-large-masonry-item,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-two-columns .mkdf-ig-grid-sizer,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-two-columns .mkdf-ig-image,
  .mkdf-image-gallery
    .mkdf-ig-masonry.mkdf-ig-two-columns
    .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li a {
    padding: 7px 21px;
  }
  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li {
    margin: 0 8px 0 0;
  }
  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li a {
    padding: 7px 18px;
  }
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    margin: 0 26px 0 0;
  }
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    width: 180px;
  }
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    width: calc(100% - 180px);
    padding: 0 0 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li a,
  .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li a {
    width: 100%;
  }
  .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li {
    display: block;
    float: none;
  }
  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 8px;
  }
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    margin: 0 20px 0 0;
  }
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container,
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    border-right: 0;
  }
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li {
    float: left;
    margin: 0 20px 0 0;
  }
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    padding: 31px 0 0;
  }
}
@media only screen and (max-width: 680px) {
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li,
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav {
    padding: 0 0 20px;
  }
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li a,
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }
}
