
nav.mkdf-main-menu.mkdf-drop-down.mkdf-default-nav {
    width: 120%;
    }
    
    nav.mkdf-main-menu.mkdf-drop-down.mkdf-sticky-nav {
    width: 120%;
    }
    
    div.mkdf-blog-like {
      display: none;
    }
    
    @media only screen and (max-width: 480px){
    body .topcolumn {
        float: none !important;
        width:auto !important;
    }
    }
    
    @media only screen and (max-width: 480px){
    body .topcolumnsam {
        float: none !important;
        width: 80% !important;
    }
    }
    
    /* Feature Image Size Reduction*/
    @media only screen and (min-width: 1025px){
    div.mkdf-post-single-info-on-image .mkdf-news-post-top-holder .mkdf-top-part-post-image {
        width: 100%;
        height: 400px;
        text-align: center;
        overflow: hidden;
    }
    
    div.mkdf-post-single-info-on-image .mkdf-news-post-top-holder .mkdf-top-part-post-image img {
        position: relative;
        bottom: 50%;
    }
    }
    
    h4.mkdf-widget-title {font-size:20px;}
    
    div.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-after-title>div:last-child {display:none;}
    
    div.mkdf-post-single-info-on-image .mkdf-news-post-top-holder .mkdf-news-post-single-info>div {display:none;}
    
    @media only screen and (max-width: 1024px){
    div.mkdf-news-layout2-widget {display:none;}
    }
    
    div.widget.mkdf-news-latest-news-widget {
    width: 120%;
    }
    
    div.widget.mkdf-news-latest-news-widget .mkdf-news-lnw-slider-holder {max-width: 600px; height: 100%;}
    
    .mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner .widget:last-child {width: 120%;}
    
    .mkdf-page-header .mkdf-header-widget-menu-area.widget_nav_menu ul {width: 120%;}
    
    .sam-sign-up-button-new-1 a{color:#00c3c0;}
    
    div.mkdf-post-single-info-on-image .mkdf-news-post-top-holder .mkdf-news-post-top-table-cell {
    background: rgba(0,0,0,.3) !important;
    }
    
    div.mkdf-more-link-container {display:none;}
    
    /* SIGN IN BUTTON 5 - LIGHT */
    .signinbutton5 a{
    display: inline-block !important;
    margin-top: 22px !important;
    height: 33px !important;
    width: 100px !important;
    font-weight: normal !important;
    }
    
    /* GET STARTED */
    .getstarted2 {
    border: 1px solid #f2f5f7 !important;
    border-radius: 5px !important;
    }
    
    /* BORDER SOLID */
    div.mkdf-menu-area{
    border-style: solid !important;
    }
    
    /* Footer Text*/
    footer .widget .mkdf-widget-title-holder .mkdf-widget-title, footer .widget.widget_tag_cloud a:hover {
        color: #868686;
    }
    
    /* Related PostImage Smaller*/
    div.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
    height: 170px;
    }
    
    /* Instagram Feed Pics Smaller*/
    div.wpb_widgetised_column .widget ul li a {height:87px}
    
    /* FOOTER FONT */
    footer.mkdf-page-footer a {
    color: #ffffff !important;
    }
    footer.mkdf-page-footer p {
    color: #ffffff !important;
    }
    footer.mkdf-page-footer h4 {
    color: #ffffff !important;
    }
    
    /* SPEECH BUBBLE */
    .speech-bubble {
        position: relative;
        background: #3dcccd;
        border-radius: .4em;
    }
    
    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 70%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #3dccc3;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
    }
    
    /* BOX SHADOW */
    .box-shadow1 {
    
    box-shadow: 5px 10px 18px #888888;
    }
    
    /* TRANSPARENT GRADIENT */
    .grad1 {
    
    width: 100%;
    /* background-image: url (https://propertyspark.com/wp-content/uploads/2017/12/Thin-Christmas_border_with_ornaments_and_stars-01-01.png); */
    background-repeat: no-repeat;
      background-position: center;
    }
    
    /* Team Link */
    
    a.team1 {
    color: #7d7d7d;
    }
    
    /* BUTTON 1 */
    
    a.btn-get-started {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #ffffff;
      font-size: 15px;
      font-weight: bolder;
      background: #3dccc3;
      padding: 20px 20px 20px 20px;
      text-decoration: none;
    }
    
    a.btn-get-started:hover {
      background: #8ae0e1;
      text-decoration: none;
      color: #ffffff;
    }
    
    a.btn-get-started-footer {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      border-color: #ffffff;
      font-size: 15px;
      font-weight: Bolder;
      border-style: solid;
      border-width: 5px;
      padding: 20px 30px 20px 30px;
      margin: 5px;
      text-decoration: none;
    }
    
    a.btn-get-started-footer:hover {
      background: #ffffff;
      text-decoration: none;
      color: #30424d !important;
    }
    
    a.btn-get-started-footer-color {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      background-color: #3dcccd;
      border-color: #3dcccd;
      font-size: 15px;
      font-weight: Bolder;
      border-style: solid;
      border-width: 5px;
      padding: 20px 30px 20px 30px;
      margin: 5px;
      text-decoration: none;
    }
    
    a.btn-get-started-footer-color:hover {
      background: #ffffff;
      border-color: #ffffff;
      text-decoration: none;
      color: #30424d !important;
    }
    
    
    a.btn-get-started-white {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      border-color: #ffffff;
      font-size: 15px;
      font-weight: Bolder;
      border-style: solid;
      border-width: 5px;
      padding: 20px 30px 20px 30px;
      text-decoration: none;
      color: #ffffff
    }
    
    a.btn-get-started-white:hover {
      background: #ffffff;
      text-decoration: none;
      color: #30424d !important;
    }
    
    button.btn-get-started-back {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      border-style: solid;
      border-width: 4px;
      border-color: #3dccc3;
      color: #3dccc3;
      font-size: 15px;
      font-weight: bolder;
      background: #ffffff;
      padding: 20px 20px 20px 20px;
      text-decoration: none;
    }
    
    button.btn-get-started-back:hover {
      text-decoration: none;
      color: #dddddd;
      border-color: #dddddd;
      cursor: pointer;
    }
    
    /* BUTTON 2 */
    
    a.btn-get-started-2 {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #ffffff;
      font-size: 15px;
      font-weight: bolder;
      background: #3dccc3;
      padding: 20px 20px 20px 20px;
      text-decoration: none;
    }
    
    a.btn-get-started-2:hover {
      background: #8ae0e1;
      text-decoration: none;
      color: #ffffff;
    }
    
    /* BUTTON 3 */
    
    a.btn-get-started-3 {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #314051;
      font-size: 13px;
      font-weight: bolder;
      padding: 20px 15px 20px 15px;
      text-decoration: underline;
    }
    
    a.btn-get-started-3:hover {
      text-decoration: underline;
      color: #3dcccd;
    }
    
    /* BUTTON 4 */
    
    a.btn-get-started-4 {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #ffffff;
      font-size: 15px;
      font-weight: bolder;
      background: #7e7e7e;
      padding: 20px 20px 20px 20px;
      text-decoration: none;
    }
    
    a.btn-get-started-4:hover {
      background: #7e7e7e;
      text-decoration: none;
      color: #ffffff;
    }
    
    /* BUTTON 5 */
    
    .headerFlex, .newsFlex {
    display: flex;
    justify-content: space-between;
    }
    
    .reserveMySeat a{
    margin-left: 20px;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #ffffff;
      font-size: 12px;
      font-weight: bolder;
      background: #e7af00;
    padding: 5px;
    }
    
    .reserveMySeat a:hover {
      color: #ffffff !important;
      background: #fdc517;
      text-decoration: none;
    }
    
    /* BUTTON 6 */
    
    a.btn-get-started-6 {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 2px;
      color: #ffffff;
      font-size: 15px;
      font-weight: regular;
      background: #46CCCC;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
    }
    
    a.btn-get-started-6:hover {
      background: #35a3a2;
      text-decoration: none;
      color: #ffffff;
    }
    
    /* BUTTON 7*/
    
    a.btn-get-started-7 {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #ffffff;
      font-size: 15px;
      font-weight: bolder;
      background: #999999;
      padding: 20px 20px 20px 20px;
      text-decoration: none;
    }
    
    a.btn-get-started-7:hover {
      background: #D3D6D6;
      text-decoration: none;
      color: #ffffff;
    }
    
    /* BUTTON ORANGE*/
    
    a.btn-get-started-orange {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      color: #ffffff;
      font-size: 15px;
      font-weight: bolder;
      background: #F8B644;
      padding: 20px 20px 20px 20px;
      text-decoration: none;
    }
    
    a.btn-get-started-orange:hover {
      background: #fcd38d;
      text-decoration: none;
      color: #ffffff;
    }
    
    
    /* SPEECH BUBBLE MOBILE*/
    .speech-bubble-mobile {
        position: relative;
        background: #3dcccd;
        border-radius: .4em;
    }
    
    .speech-bubble-mobile:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 70%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #3dcccd;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }
    
    /* ICON SAM*/
    p.icon-div-1 {
    text-align: center;
    }
    i.icon-sam-1 {
    color: #ffffff;
    font-size: 40px;
    }
    i.icon-sam-2 {
    color: #3dcccd;
    font-size: 40px;
    }
    
    i.icon-sam-3 {
    color: #3dcccd;
    font-size: 55px;
    display: inline-block;
      position: relative;
      -moz-animation: bounce 2.0s infinite linear;
      -o-animation: bounce 2.0s infinite linear;
      -webkit-animation: bounce 2.0s infinite linear;
      animation: bounce 2.0s infinite linear;
      colr:000;
    }
    
    @-webkit-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-moz-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-o-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-ms-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    
    /* DIV CENTER ALWAYS */
    div.center-sam-always {
    text-align: center;
    }
    
    /* CONTACT FORM */
    .wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
        color: #ffffff;
        background-color: #FFBABA;
        border: 0;
        padding: 10px;
    }
    .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
        color: #ffffff;
        background-color: #3dcccd;
        border: 0;
        padding: 10px;
    }
    div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before {
        font: 26px/30px FontAwesome;
        margin-right: 16px;
        vertical-align: middle;
    }
    div.wpcf7-mail-sent-ok:before {
        content:'\f00c';
    }
    div.wpcf7-validation-errors:before {
        content:'\f057';
    }
    
    /* DESKTOP */
    @media only screen and (min-width: 480px){
    
    /* RESULTS DESKTOP & MOBILE */
    #mobile-results {
    border-right-width: 1px;
    border-right-color: #ffffff;
    border-right-style: solid;
    }
    
    /* HIDE SPACES ON DESKTOP */
    #hide {
    display: none !important;
    }
    
    /* PADDING RIGHT */
    #padding-right {
    padding-right: 60px ;
    }
    
    /* PADDING LEFT*/
    #padding-left {
    padding-left: 60px ;
    }
    
    /* MARGIN RIGHT*/
    #margin-right {
    margin-right: -20px ;
    }
    
    /* MARGIN LEFT */
    #margin-left {
    margin-left: -20px ;
    }
    
    /* CTA MARGIN PADDING */
    #cta-padding-margin {
    padding: 60px 50px 60px 50px;
    margin: 0px 10px 0px 10px;
    }
    
    /* SIGN IN BUTTON 4 - CTA - DESKTOP */
    .signinbutton4 a{
    background: #3dcccd !important;
    color: #ffffff !important;
    display: inline-block !important;
    margin-top: 19px !important;
    height: 33px !important;
    width: 100% !important;
    font-weight: bold !important;
    border: 1px solid #3dcccd !important;
    border-radius: 5px !important;
    }
    
    .signinbutton-demo a{
    background: #ffffff !important;
    display: inline-block !important;
    margin-top: 19px !important;
    height: 33px !important;
    width: 100% !important;
    font-weight: bold !important;
    border: 1px solid #f2f5f7 !important;
    border-right: 5px solid #f2f5f7 !important;
    border-left: 5px solid #f2f5f7 !important;
    border-radius: 5px !important;
    }
    
    /*
    .menu-item-has-children a:after {
    content: "▼";
    display: inline-block;
    margin: 5% 0 0 105%;
    width: 14px;
    height: 12px;
    }
    
    div.second a:after {
    content: "▼";
    display: none;
    }
    */
    
    }
    
    /* MOBILE */
    @media only screen and (max-width: 480px){
    #mobile-margin, #padding-right, #padding-left, #margin-right, #margin-left, #cta-padding-margin  {
    margin-right: 0px !important;
    margin-left: 0px !important;
    }
    #cta-padding-margin {
    padding: 15px 0px 35px 0px !important;
    }
    div.center-sam {
    text-align: center;
    }
    
    #mobile-margin-pricing  {
    margin-right: -35px !important;
    margin-left: -25px !important;
    }
    
    #mobile-header-1 {
    font-size: 160% !important;
    }
    
    #mobile-header-2 {
    font-size: 120% !important;
    }
    
    #mobile-header-3 {
    font-size: 80% !important;
    line-height: 165% !important;
    }
    
    /* HIDE SPACES ON MOBILE*/
    #hide-mobile {
    display: none !important;
    }
    
    /* SIGN IN BUTTON 4 - CTA - MOBILE */
    .signinbutton4 a{
    text-align: center !important;
    background: #3dcccd !important;
    color: #ffffff !important;
    display: inline-block !important;
    margin-top: 19px !important;
    height: 30px !important;
    padding-bottom: 7px !important;
    width: 70% !important;
    font-weight: bold !important;
    border: 1px solid #3dcccd !important;
    border-radius: 5px !important;
    }
    
    /*BLOG HEADER TOP */
    #mobile-blog-header {
    margin-top: -50px !important;
    }
    
    /* BOOK A DEMO */
    a.btn-get-started-footer-color {
      margin-top: 70px !important;
      display: inline-block;
    }
    
    
    }
    
    /*MANYCHAT*/
    .mcwidget-overlay a[href="https://manychat.com"] {
       display: none;
    }
    
    /*HIDE DATE ON BLOGS*/
    
    .mkdf-news-post-single-info-top {
    display:none;
    }
    
    /* CENTER TABS DESKTOP */
    @media only screen and (min-width: 1401px){
    .mkdf-tabs .mkdf-tabs-nav {
    width: 31.5%;
    }
    }
    @media only screen and (max-width: 1400px){
    .mkdf-tabs .mkdf-tabs-nav {
    width: 35% !important;
    }
    }
    @media only screen and (max-width: 1200px){
    .mkdf-tabs .mkdf-tabs-nav {
    width: 42% !important;
    }
    }
    @media only screen and (max-width: 900px){
    .mkdf-tabs .mkdf-tabs-nav {
    width: 47% !important;
    }
    }
    @media only screen and (max-width: 760px)
    .mkdf-tabs .mkdf-tabs-nav {
    width: 100% !important;
    }
    }
    
    /* CENTER IMAGE */
    .center-img-sam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50% !important;
    }
    
    /* ROTATE TEXT */
    .rotatetext {
    transform: rotate(350deg);
    }
    
    /* ROTATE TEXT */
    .rotateimg {
    transform: rotate(25deg);
    }
    
    /* STRIKE PRICE */
    .strikeprice p{
    font-size: 28px;
    text-decoration: line-through;
    }
    
    /* CENTER ICON */
    .centericon {
    margin-left: 40%;
    }
    
    .centericon2 {
    margin-left: 27%;
    }
    /* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/newsflash/framework/admin/options/general/map.php newsflash_mikado_page_general_style function */
    .page-id-14286.mkdf-boxed .mkdf-wrapper { background-attachment: fixed;}
    
    
    